.productContainer{
    width: auto;
    margin: 10px;
}
.productRow{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin: 10px;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-evenly;
}