:root {
  --PrimaryColor: #f74f29c7; /* Primary color, orange */
  --SecondaryColor: #00aeff   ; /* Secondary color, light blue */
  --AccentColor1: #41bd73; /* Light green */
  --TextDarkColor: #d6c8c8; /* Text color for dark mode, white */
  --TextlightColor: #07070793; /* Text color for light mode, black */
  --White: rgb(255, 255, 255); /* Background color for light mode, light gray */
  --Black: #000000; /* Background color for dark mode, black */
  --fontOne:Brush Script MT;
  --fontTwo:Courier New;
  --blur: rgba(0, 0, 0, 0);
}