.navbar{
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px)!important;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  width: 100%;
}
.navbar h1{
  margin-top: 0px;
  color: var(--SecondaryColor);
  font-family: var(--fontOne);
  font-size: 39px;
  text-align: left;
  font-weight:bolder;
  margin-bottom: 0px;
}
.navbar ul{  
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
  justify-content: flex-end;
}
.navbar li{
  list-style-type: none;
}
.navbar a {
  font-weight:bold;
  font-size: 18px;
  margin-right: 50px;
  text-decoration: none;
  margin-left: auto;
  color: var(--PrimaryColor);
  font-family: var(--fontTwo);
}
.navbar a:hover{
  text-shadow:2px 2px 2px var(--AccentColor1);
  color: var(--AccentColor1);
}