.logbg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assest/loginbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.log {
  justify-content: center;
  align-items: center;
  background-color: var(--blur);
  backdrop-filter: blur(15px);
  width: 30%;
  border: solid 1px var(--blur);
  border-radius: 5%;
}
h1{
  font-family: var(--fontOne);
  text-align: center;
}
p{
  font-family: var(--fontOne);
  text-align: center;
}
.text{
  font-family: var(--fontTwo);
  margin-left: 5px;
}
.btn{
  height: 30px;
  width: 100px;
  margin-left: 5px!important;
  background-color: var(--SecondaryColor)!important;
  color: var(--White)!important;
}